//- Download Button Component
//- Usage: include download-button.pug
//- Required variables: isProduction, currentLocale, locale
//- Optional: buttonId (for dev mode to attach click handler)
if isProduction
  a.btn-download(href=currentLocale === 'en_US' ? '/images/china-vs-rest-of-world.png' : '/images/china-vs-rest-of-world-zh_CN.png', target='_blank', aria-label=locale.dataTable.downloadImage)= locale.dataTable.downloadImage
else
  button.btn-download(id=buttonId, aria-label=locale.dataTable.downloadImage)= locale.dataTable.downloadImage
